{% extends 'apidataget/home.html' %}

{% block content %}
    {% for article in des %}
        {% if article.urlToImage != None and article.title != None and article.description != None and article.url != None%}
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="{{ article.urlToImage }}" alt="" style="height: 270px;width: 100%">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">{{ article.title }}</h3>
                        <p> {{ article.description}}</p>
                        <div class="uk-card-footer uk-inline">
                            <button class="uk-button uk-button-default">Save</button>
                            <button class="uk-button" uk-icon="icon: social"></button>
                            <div uk-dropdown>
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li><a href="https://www.facebook.com/sharer.php?u={{ article.url }}"> facebook <span uk-icon="facebook"></span></a></li>
                                    <li><a href="https://twitter.com/intent/tweet?url={{ article.url }}"> twitter <span uk-icon="twitter"></span></a></li>
                                    <li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ article.url }}"> linkedin <span uk-icon="linkedin"></span></a></li>
                                </ul>
                            </div>
                            <a href="{{ article.url }}" class="uk-button uk-button-text">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}