{% load staticfiles %}

<html lang="en">
<head>
  <title>Current Feed</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/js/uikit-icons.min.js"></script>
    <script src="uikit/dist/js/uikit-icons.min.js"></script>
</head>
<body>

{% include "apidataget/Nav.html" %}

<div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" style="margin-top: 18px" uk-grid>
            {% block content %}
            {% endblock %}
</div>

</body>
</html>
