<html>
<head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/css/uikit.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/js/uikit-icons.min.js"></script>
        <script src="uikit/dist/js/uikit-icons.min.js"></script>
</head>
<body>
{#    <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">#}
        <nav class="uk-navbar-container" uk-navbar>
                <div class="uk-navbar-left">
                    <a class="uk-navbar-item uk-logo" href="#">Current Feed</a>
                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a href="{% url 'category' type='business' %}">Business</a></li>
                        <li class="uk-active"><a href="{% url 'category' type='sports' %}">Sports</a></li>
                        <li class="uk-active"><a href="{% url 'category' type='entertainment' %}">Entertainment</a></li>
                        <li class="uk-active"><a href="{% url 'category' type='health' %}">Health</a></li>
                        <li class="uk-active"><a href="{% url 'category' type='science' %}">Science</a></li>
                        <li class="uk-active"><a href="{% url 'category' type='technology' %}">Technology</a></li>
                    </ul>

                </div>

                <div class="uk-navbar-right">
                        <div>
                                <a class="uk-navbar-toggle" href="#" uk-search-icon></a>
                                <div class="uk-navbar-dropdown" uk-drop="mode: click; cls-drop: uk-navbar-dropdown; boundary: !nav">

                                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                                        <div class="uk-width-expand">
                                            <form class="uk-search uk-search-navbar uk-width-1-1" action="{% url 'search' %}" method="get">
                                                {% csrf_token %}
                                                <input class="uk-search-input" type="search" placeholder="Search..." name="var" autofocus>
                                            </form>
                                        </div>
                                        <div class="uk-width-auto">
                                            <a class="uk-navbar-dropdown-close" href="#" uk-close></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    <ul class="uk-navbar-nav">
                        {% if user.is_authenticated %}
                            <li class="uk-active"><a href="{% url 'article' %}">Your_Article</a></li>
                            <li class="uk-active"><a href="{% url 'logout' %}"><span uk-icon="sign-out"></span>Logout({{ user }})</a></li>
                        {% else %}
                            <li class="uk-active"><a href="{% url 'signup' %}"><span uk-icon="user"></span>Signin</a></li>
                            <li class="uk-active"><a href="{% url 'login' %}"><span uk-icon="sign-in"></span>Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
{#    </div>#}
</body>
</html>