<!DOCTYPE html>
<html lang="en-gb" dir="ltr" class="uk-height-1-1 uk-notouch">
    <head>
            <title>Signup</title>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/css/uikit.min.css" />
            <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/js/uikit.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/js/uikit-icons.min.js"></script>
    </head>
    <body>
       <div class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade" uk-height-viewport>
        <div class="uk-width-1-1">
            <div class="uk-container">
                <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
                    <div class="uk-width-1-1@m">
                        <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
                            <h3 class="uk-card-title uk-text-center">Signup</h3>
                            <form method="post" action="">
                                {% csrf_token %}
                                <div class="uk-margin">
                                    <div class="uk-inline uk-width-1-1">
                                        <input class="uk-input uk-form-medium" type="text" placeholder="First Name" name="first_name" required>
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <div class="uk-inline uk-width-1-1">
                                        <input class="uk-input uk-form-medium" type="text" placeholder="Last Name" name="last_name" required>
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <div class="uk-inline uk-width-1-1">
                                        <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                        <input class="uk-input uk-form-medium" type="email" placeholder="Email" name="email" required>
                                    </div>
                                    {{ form.email.errors }}
                                </div>
                                <div class="uk-margin">
                                    <div class="uk-inline uk-width-1-1">
                                        <span class="uk-form-icon" uk-icon="icon: user"></span>
                                        <input class="uk-input uk-form-medium" type="text" placeholder="Username" name='username' required>
                                    </div>
                                    {{ form.username.errors }}
                                </div>
                                <div class="uk-margin">
                                    <div class="uk-inline uk-width-1-1">
                                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                        <input class="uk-input uk-form-medium" type="password" placeholder="Password" name='password1' required>
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <div class="uk-inline uk-width-1-1">
                                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                        <input class="uk-input uk-form-medium" type="password" placeholder="Retype Password" name='password2' required>
                                    </div>
                                    {{ form.password2.errors }}
                                </div>
                                <div class="uk-margin">
                                    <input class="uk-button uk-button-primary uk-button-large uk-width-1-1" type="submit" value="Submit">
                                </div>
                                <div class="uk-text-small uk-text-center">
                                    Already have account? <a href="{% url 'login' %}">Login</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body></html>
